<mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
        <a mat-button routerlinkactive="true" href="/">
            <span class="mat-button-wrapper">
                <mat-icon style="font-size: 1.5em">home</mat-icon>
                <span>AngularBoilerplate</span>
            </span>

        </a>
        <a mat-button routerlinkactive="navbar-item-selected" href="/">
            <span class="mat-button-wrapper">Components</span>
        </a>
        <span class="spacer"></span>
        <a mat-button routerlinkactive="navbar-item-selected" href="/">
            <span class="mat-button-wrapper">Login</span>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <h1 class="primary-header">Components</h1>
    </mat-toolbar-row>
</mat-toolbar>