<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav"
                 [fixedInViewport]="false" [fixedTopGap]="0"
                 [fixedBottomGap]="0">
      <mat-nav-list>
          <a mat-list-item [routerLink]="'/people'" routerLinkActive="side-nav-item-selected">People</a>
          <a mat-list-item [routerLink]="'/groups'" routerLinkActive="side-nav-item-selected">Groups</a>
          <a mat-list-item href="/">Admin</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Main -->
        <router-outlet></router-outlet> 
    </mat-sidenav-content>
</mat-sidenav-container>